.menuBackground {
  height: 100vh;
  width: 100wh;
  position: relative;
  background-color: rgba(40, 40, 40, 0.8);
  z-index: 2;
}

.menuBoard {
  height: 100vh;
  width: 80vw;
  background-color: #ffffff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  opacity: 1;
  z-index: 3;
  animation: main 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transform-origin: 100% 100%;
}

@keyframes main {
  0% {
    width: 0px;
  }
  100% {
    width: 80vw;
  }
}