.signuppage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .backbutton {
    transform: translate(5%, -180%);
  }

  .unregisterbox {
    position: relative;
    display: block;
    margin: auto;
    transform: translateY(-10%);
  }

  .unregisterText {
    text-align: center;
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.46px;
    margin-top: 30px;
  }

  .unregisterText2 {
    color: #EA6B6B;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: -0.36px;
    transform: translate(8%, -2000%);
  }

  .unregisterText3 {
    color: #69695D;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    transform: translate(8%, -2600%);
  }

  .unregisterText4 {
    color: #69695D;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    transform: translate(8%, -1300%);
  }

  .unregisterText5 {
    color: #69695D;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    transform: translate(8%, -1300%);
  }

  .contentWrap {
    position: relative;
    transform: translate(0%, -530%);
  }

  .inputTitle {
    font-size: 13px;
    font-weight: 700;
    color: #69695d;
    transform: translateX(7%)
  }
  
  .inputWrap {
    border-radius: flex;
    width: 304px;
    padding: 16px;
    margin-top: 8px;
    display: block;
    margin: auto;
    background-color: white;
    border: 1px solid #e2e0e0;
  }
  
  .inputWrap:focus-within {
    border: 1px solid #ea6b6b;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: none;
    height: 2vh;
    font-size: 14px;
    font-weight: 400;
  }
  
  .input::placeholder {
    color: #dadada;
  }

  .unregisterButton {
    width: 105px;
    height: 36px;
    border: none;
    font-weight: 700;
    background-color: #ea6b6b;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    transform: translate(100%, -1000%);
  }

  .unregisterButton.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }