.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.profileimg {
  margin-top: 100px;
  text-align: center;
}

.home {
  display: block;
  margin: auto;
  transform: translate(-550%, -1550%);
}

.username {
  color: #69695d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px; /* 70% */
  letter-spacing: 0.75px;
}

.userdep {
  text-align: center;
  color: #b5b5b5;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -150%);
}

.userid {
  text-align: center;
  color: #b5b5b5;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -310%);
}

.firstButton {
  width: 322px;
  height: 64px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #ea6b6b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  transform: translateY(-160%);
}

.secondButton {
  width: 322px;
  height: 64px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #ea6b6b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  transform: translateY(-130%);
}

.thirdButton {
  width: 322px;
  height: 64px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #ea6b6b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  transform: translateY(-100%);
}

.mypagel {
  position: relative;
  display: block;
  margin: auto;
  transform: translateY(-200%);
}

.mypageline {
  position: relative;
  height: 5vh;
}

.mypagel2 {
  text-align: center;
  transform: translateY(-520%);
}

.mypagel3 {
  text-align: center;
  transform: translateY(-260%);
}

.logoutline {
  display: block;
  margin: auto;
  transform: translate(10800%, -280%);
}

.logoutButton {
  position: relative;
  background-color: #eee;
  color: #c4c4c4;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  border: none;
  display: block;
  margin: auto;
  transform: translate(100%, 0%);
  z-index: 0;
}

.unregisterButton {
  position: relative;
  background-color: #eee;
  color: #c4c4c4;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  border: none;
  display: block;
  margin: auto;
  transform: translate(200%, -100%);
  z-index: 0;
}

.addschedulemodal {
  position: relative;
  background-color: #eee;
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 366px;
  height: 466px;
  transform: translateY(30%);
}

.addschedulebar {
  display: block;
  margin: auto;
  transform: translateY(-610%);
}

.modalcloseButton {
  position: absolute;
  cursor: pointer;
  transform: translate(1680%, -1840%);
}

.addtext {
  position: absolute;
  transform: translate(20%, -1540%);
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.46px;
}

.schedulename {
  position: relative;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #69695d;
}

.schedulename::placeholder {
  color: #d9d9d9;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.addmodalinputWrap {
  position: relative;
  width: 90.7%;
  display: flex;
  border-radius: flex;
  padding: 16px;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: #69695d;
  transform: translate(0%, 150%);
}

.addmodalinputWrap:focus-within {
  border: 1px solid #ea6b6b;
}

.inputschedulename {
  width: 100%;
  height: 17px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #69695d;
}

.inputschedulename::placeholder {
  color: #d9d9d9;
}

.addmodalinputWrap2 {
  position: relative;
  width: 90.7%;
  display: flex;
  border-radius: flex;
  padding: 16px;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: #69695d;
  transform: translate(0%, 230%);
}

.addmodalinputWrap2:focus-within {
  border: 1px solid #ea6b6b;
}

.inputscheduleplace {
  width: 100%;
  height: 17px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #69695d;
}

.inputscheduleplace::placeholder {
  color: #d9d9d9;
}

.startdatePicker {
  border: 1px solid #d9d9d9;
  transform: translate(3.5%, -210%);
  height: 50px;
  width: 360px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #69695d;
}

.enddatePicker {
  border: 1px solid #d9d9d9;
  transform: translate(0%, 350%);
  height: 50px;
  width: 360px;
}

.schedulesave {
  display: block;
  margin: auto;
  height: 35px;
  width: 105px;
  border: none;
  border-radius: 10px;
  background: #EA6B6B;
  color: white;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 93.333% */
  letter-spacing: 0.75px;
  transform: translateY(-300%);
}