.ModifyBox {
  position: relative;
  display: block;
  margin: auto;
  transform: translateY(10%);
}

.modifylikepage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.profileimg {
  margin-top: 100px;
  text-align: center;
}

.backicon {
  position: relative;
  display: block;
  margin: auto;
  transform: translate(-600%, -2000%);
}

.Modifycontent {
  position: relative;
  display: block;
  margin: auto;
  width: 255px;
  transform: translateY(-360%);
}

.modifydep {
  position: relative;
  width: 255px;
  height: 50px;
  border: 1px solid #e2e0e0;
  font-weight: 700;
  color: #69695d;
  cursor: pointer;
  background-color: white;
  display: block;
  margin: auto;
  transform: translateY(-690%);
}

.modifyButton {
  width: 146px;
  height: 50px;
  border: none;
  font-weight: 700;
  background-color: #ea6b6b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  transform: translateY(-200%);
}

.modifybartext {
  position: absolute;
  transform: translate(10%, -600%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.28px;
}

@media screen and (max-height: 860px) {
  .Modifycontent {
    transform: translateY(-310%);
  }

  .modifydep {
    transform: translateY(-560%);
  }
}

@media screen and ((min-height: 870px) and (max-height: 900px)) {
  .Modifycontent {
    transform: translateY(-340%);
  }

  .modifydep {
    transform: translateY(-630%);
  }
}

.menuBackground {
  height: 100vh;
  width: 100wh;
  position: relative;
  background-color: rgba(40, 40, 40, 0.8);
  z-index: 2;
}

.menuBoard {
  display:flex;
  padding-top: 4vw;
  padding-bottom: 4vw;
  height: 95vh;
  width: 80vw;
  overflow-y: auto;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  opacity: 1;
  z-index: 3;
  animation: main 0.8s cubic-bezier(0, 0.55, 0.45, 1);
  transform-origin: 100% 100%;
}

@keyframes main {
  0% {
    width: 0px;
  }

  100% {
    width: 80vw;
  }
}

.mainCategory {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 80%;
  background-color: rgb(240, 240, 240);

  border-radius: 15px;

  box-shadow: 0px 0px 10px rgb(155, 155, 155);

  margin-top: 3vh;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.mainCategoryHead {
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #ea6b6b;
  height: 10vw;
  width: 100%;
  align-items: center;
  padding-left: 3vw;
  border-radius: 15px;

  font-size: 16px;
  font-weight: 800;
}

.subCategoryContainer {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  border-bottom-right-radius: 8px;

  width: 100%;
  background-color: rgb(240, 240, 240);

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.closed {
  animation: closeSubcategory 0.5s forwards;
}

.closed>input {
  display: none;
}

@keyframes closeSubcategory {
  0% {
    height: 8vw;
  }

  100% {
    height: 0;
    display: none;
    font-size: 0;
  }
}

.subCategory {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;

  border-bottom-right-radius: 8px;
  margin-top: 1%;
  margin-left: 10%;

  width: 100%;
  background-color: rgb(240, 240, 240);
}

.department {
  display: flex;
  height: 6vw;
  width: 100%;
  align-items: center;
  padding-left: 6vw;

  border-bottom-right-radius: 8px;
}

.opened {}

.closed {}

.flexText {
  margin-left: 2vw;
}

.subCategoryHead {
  display: flex;
  height: 6vw;
  width: 100%;
  align-items: center;
  padding-left: 3vw;
  font-size: 14px;
  font-weight: 600;
}

.departmentContainer {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 100%;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

.userinfo {
  display: flex;
  margin-top: 2%;
  margin-bottom: 10%;
}

.userimg {
  position: relative;
  left: 4vw;
}


.username {
  color: #69695d;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  /* 70% */
  letter-spacing: 0.75px;
}

.userdep {
  text-align: center;
  color: #b5b5b5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -150%);
}

.userid {
  text-align: center;
  color: #b5b5b5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -310%);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  z-index: 10;
}