.signuppage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ModifyBox {
  position: relative;
  display: block;
  margin: auto;
  transform: translateY(-40%);
}

.Title {
  font-size: 12px;
  font-weight: 700;
  color: #69695d;
}

.inputidpw {
  width: 100%;
  height: 17px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

.Wrap {
  display: flex;
  border-radius: flex;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.Wrap:focus-within {
  border: 1px solid #ea6b6b;
}

.profileimg {
  margin-top: 100px;
  text-align: center;
}

.username {
  color: #69695d;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px; /* 70% */
  letter-spacing: 0.75px;
}

.userdep {
  text-align: center;
  color: #b5b5b5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -150%);
}

.userid {
  text-align: center;
  color: #b5b5b5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  transform: translate(0%, -310%);
}

.backicon {
  position: relative;
  display: block;
  margin: auto;
  transform: translate(-600%, -2000%);
}

.Modifycontent {
  position: relative;
  display: block;
  margin: auto;
  width: 255px;
  margin-top: -50vh;
  margin-bottom: 10px;
}

.modifydep {
  position: relative;
  width: 255px;
  height: 50px;
  border: 1px solid #e2e0e0;
  font-weight: 700;
  color: #69695d;
  cursor: pointer;
  background-color: white;
  display: block;
  margin: auto;
  transform: translateY(-690%);
}

.modifyButton {
  width: 146px;
  height: 50px;
  border: none;
  font-weight: 700;
  background-color: #ea6b6b;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  transform: translateY(-200%);
}

.modifybartext {
  position: absolute;
  transform: translate(10%, -600%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.28px;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  position: relative;
  background-color: #eee;
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 314px;
  height: 220px;
  transform: translateY(120%);
}

.modalinputWrap {
  position: relative;
  width: 259px;
  display: flex;
  border-radius: flex;
  padding: 16px;
  background-color: white;
  border: 1px solid #e2e0e0;
  transform: translate(4%, 120%);
}

.modalWrap:focus-within {
  border: 1px solid #ea6b6b;
}

.modalbar {
  position: absolute;
  transform: translateY(-120%);
}

.search {
  position: absolute;
  transform: translate(690%, 65%);
}

.closeButton {
  position: absolute;
  cursor: pointer;
  transform: translate(1350%, -200%);
}

.bartext {
  position: absolute;
  transform: translate(10%, -370%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.28px;
}

.searchresultbox {
  display: block;
  margin: auto;
  transform: translate(-5%, 35%);
}

.depname {
  display: block;
  margin: auto;
  transform: translate(-60%, -160%);
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: 15px;
}

.inputdep {
  position: relative;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
}


@media screen and (max-height: 860px) {
  .Modifycontent {
    transform: translateY(-310%);
  }

  .modifydep {
    transform: translateY(-560%);
  }
}

@media screen and ((min-height: 870px) and (max-height: 900px)) {
  .Modifycontent {
    transform: translateY(-340%);
  }

  .modifydep {
    transform: translateY(-630%);
  }
}
